<div class="person-controller margin-md">
    <div class="pull-right margin-sm">
        <img class="rounded-edges" src="{{ imgPath }}{{ personDetails.images.profiles[0].file_path }}" />
    </div>
    <div>
        <div class="movie-section">
            <table class="table table-striped table-auto pull-right margin-t-sm">
                <tr>
                    <td>Birthday</td>
                    <td>{{ personDetails.birthday | date }}</td>
                </tr><tr ng-if="personDetails.deathday">
                    <td>Deathday</td>
                    <td>{{ personDetails.deathDay | date }}</td>
                </tr><tr>
                    <td>Gender</td>
                    <td>{{ personDetails.gender === 2 ? 'Male' : 'Female' }}</td>
                </tr><tr ng-if="personDetails.place_of_birth">
                    <td>Place of Birth</td>
                    <td>{{ personDetails.place_of_birth }}</td>
                </tr>
            </table>
            <h1>{{ personDetails.name }}</h1>
            <p ng-if="personDetails.biography">{{ personDetails.biography }}</p>
        </div>
        <div class="movie-section">
            <h4 class="margin-l-md">Starred in</h4>
            <div class="pull-left margin-l-md margin-t-md poster-tile" ng-repeat="movie in personDetails.movie_credits.cast">
                <a href="#/movie/{{ movie.id }}">
                    <img class="rounded-edges" ng-src="{{movie.poster_path ? imgPath + movie.poster_path : noPosterImage}}" width="150">
                    <p class="poster-width">In {{ movie.title }}<span ng-if="movie.character"> as {{ movie.character }}</span></p>
                </a>
            </div>
        </div>
    </div>
</div>
