.nav.navbar-nav > li { padding: 8px 15px; }

.no-margin { margin: 0; }
.margin-l-md { margin-left: 10px; }
.margin-r-md { margin-right: 10px; }
.margin-t-md { margin-top: 10px; }
.margin-b-md { margin-bottom: 10px; }
.margin-md { margin: 10px; }
.margin-l-sm { margin-left: 5px; }
.margin-r-sm { margin-right: 5px; }
.margin-t-sm { margin-top: 5px; }
.margin-b-sm { margin-bottom: 5px; }
.margin-sm { margin: 5px; }

.pop-up-dialogue {
    border-radius: 0 0 5px 5px;
    width: 500px;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: 40px;
    background: #FFF;
    box-shadow: 5px 5px 25px 5px #DDD;
    border: 1px solid #AAA;
    border-top: 0;
}

.tmdb-search-directive > input { width: 500px; }

.poster-width { width: 150px; }

.rounded-edges { border-radius: 5px; }

.table-auto { width: auto !important; }

.td-max-width { max-width: 150px; }

.poster-tile { width: 150px; height: 295px; }
