.nav.navbar-nav > li { padding: 8px 15px; }

.no-margin { margin: 0; }
.margin-l-md { margin-left: 10px; }
.margin-r-md { margin-right: 10px; }
.margin-t-md { margin-top: 10px; }
.margin-b-md { margin-bottom: 10px; }

.pop-up-dialogue {
    border-radius: 5px;
    width: 500px;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: 55px;
    background: #FFF;
    box-shadow: 5px 5px 25px 5px #DDD;
}

.tmdb-search-directive > input { width: 500px; }
