<div class="popular-movies" ng-if="popMovieList">
    <h1>Explore Popular Movies</h1>
    <div ng-repeat="movie in popMovieList track by $index">
        <a href="#" title="{{ movie.title }}" class="pull-left margin-t-md margin-l-md" ng-if="movie.poster_path && imgPath">
            <img class="rounded-edges" src="{{ imgPath }}{{ movie.poster_path }}" width="150" height="225" title="{{ movie.title }}" />
            <div class="poster-width">
                <span style="text-align:center;">{{movie.title}}</span>
            </div>
        </a>
    </div>
</div>
